<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mixtape</title>
  <link rel="stylesheet" href="styles/mixtape.css"/>
</head>
<body>
  
  <h1>Mixtape</h1>

  <div class="mixtape">
    <p><button class="add-song">Add Song</button></p>

    <div class="song-list">
      <div class="song"></div>
    </div>
  </div>

  <script type="text/template" id="song-template">
    <div class="viewing">
      <b>Artist:</b> <%= artist %>
      <b>Song:</b> <%= name %>
      <span class="buttons">
        <button class="edit-song">Edit</button>
        <button class="remove-song">&cross;</button>
      </span>
    </div>

    <div class="editing">
      <input type="text" class="name-input" placeholder="Song" value="<%= name %>"></input>
      <input type="text" class="artist-input" placeholder="Artist" value="<%= artist %>"></input>
      <button class="save-song">Save</button>
    </div>
  </script>

  <script src="scripts/jquery-min.js"></script>
  <script src="scripts/underscore-min.js"></script>
  <script src="scripts/backbone-min.js"></script>
  <script src="src/models/song.js"></script>
  <script src="src/collections/songlist.js"></script>
  <script src="src/views/songView.js"></script>
  <script src="src/views/songListView.js"></script>
  <script src="src/mixtape.js"></script>
</body>
</html>